<header class="title-kanban">KANBAN BOARD</header>
<section class="body-kanban" cdkDropListGroup>
  <mat-card
    class="task-block"
    *ngFor="let taskBlock of taskList; let i = index"
  >
    <div class="title-block">
      <h1 class="title">{{ taskBlock.name }} ({{ taskBlock.tasks?.length }})</h1>
      <mat-icon
        class="icon"
        aria-hidden="false"
        aria-label="Delete Task"
        (click)="removeTaskBlock(i)"
        >delete_outline</mat-icon
      >
    </div>
    <div
      cdkDropList
      [cdkDropListData]="taskBlock.tasks"
      class="kb-task-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="kb-task-box" *ngFor="let task of taskBlock.tasks; let j = index" cdkDrag>
        <h3>{{ task }}</h3>

        <mat-icon
          class="icon"
          aria-hidden="false"
          aria-label="Delete Task"
          (click)="removeTask(i, j)"
          >remove_circle_outline</mat-icon
        >
      </div>
      
    </div>
    <div class="bottom-block">
      <mat-form-field class="example-full-width">
        <mat-label>Task name</mat-label>
        <input
          matInput
          placeholder="Task name"
          #inputTaskName
          (keydown.enter)="addTask(inputTaskName, i)"
        />
      </mat-form-field>
      <button
        class="btn-add"
        mat-raised-button
        color="primary"
        (click)="addTask(inputTaskName, i)"
      >
        Add
      </button>
    </div>
  </mat-card>
  <div>
    <div class="bottom-block">
      <mat-form-field class="example-full-width">
        <mat-label>Task name</mat-label>
        <input matInput placeholder="Task name" #inputBlockName (keydown.enter)="addTaskBlock(inputBlockName)"/>
      </mat-form-field>
      <button class="btn-add" mat-raised-button color="primary" (click)="addTaskBlock(inputBlockName)">Add</button>
    </div>
  </div>
</section>
