.title-kanban {
    padding: 1%;
    background: #2367cc;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: medium;
}

.body-kanban {
    display: flex;
    flex-direction: row;
    margin-right: 1%;
}

.task-block {
    width: 25%;
    margin: 1%;
    display: flex;
    flex-direction: row;
    height: max-content;
}

.title-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-block .title{
    font-weight: 500;
}

.title-block .icon{
    color: #ef350b
}

/* .task-list .task {
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
} */

.task-list .task:last-child{
    border-bottom: 1px solid lightgray;
}

.bottom-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 2%;
}

.bottom-block .btn-add{
    height: 35px;
}







.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }